body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  /* center everything*/
}

h1 {
  font-size: 5.625rem;
  color: #66BFBF;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
  /*wil center the element vertically or horizontally*/
}
.profile{
  line-height: 2;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight:normal;/* boldness of the font depends on this */


}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
.mail{
  color: #11999E;
}
.linkedin-link{
  color: #11999E;
}
.github-link{
  color: #11999E;
}

.top-container {
  background-color: #EAF6F6;
  padding-top: 100px;
  position: relative;
}

.middle-container {

}

.bottom-container {

}

.bottom-cloud {
  position: absolute;
  bottom: 300px;
  left: 300px;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}
.skill-row{
  width: 50%;
  margin:100px auto 100px auto;
/*  text-align:left;*/
}
.picture {
  width: 150px;

}

.degree {
  width: 50px;
  /*float: left;
  margin-right: 50px;*/

}

.course {
  width:50px;
  /*float: right;
  margin-left: 30px;*/

}
